<div class="row small-4 columns infopanel">
  <div class="small-12 large-6 columns">
    <div class="row">
      <img src="<%=@user.avatar%>" alt="avatar" class="profile">
    </div>
    <div class="row buttonrow">
      <%= link_to "Edit Profile", edit_user_registration_path, class: "button" %>
      <%= link_to "Change Picture", edit_user_path, class: "button" %>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
    <ul class="details">
      <li><strong>Username</strong> <%= @user.username %></li>
      <li><strong>Name</strong> <%= @user.first_name %> <%= @user.last_name %></li>
      <li><strong>Email</strong> <%= @user.email %></li>
    </ul>
  </div>
</div>

<div class="row small-4 columns infopanel">
  <div class="small-12 large-6 columns">
    <% @user.shows.each do |favorite| %>
      <ul>
        <% binding.pry %>
        <li>
          <%= favorite.title %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
