<h2><%= @show.title %></h2>

<div class="row">
  <div class="small-5 columns"
    <h4>Description</h4>
    <p><%= @show.description %></p>
  </div>
  <div class="small-5 columns"
    <h4>Rating</h4>
    <p><%= @show.average_rating %></p>
  </div>
</div>

<%= link_to "Add a Review", new_show_review_path(@show) %>

<h4>Reviews</h4>
<ul>
<% @reviews.each do |review| %>
<% if review.updated_at != review.created_at %>
  <%= "Edited @ #{review.updated_at.
      strftime("%B %d %Y")}" %>
<% end %>
  <li>
    Title: <%= review.title %>
      <% if current_user == review.user %>
        <%= link_to "edit", edit_show_review_path(@show,review) %>
        <%= link_to "Delete", review, method: :delete,
                     data: {confirm: "You Sure?"} %>
      <% end %>
    <br>
    Description: <%= review.description %>
    <br>
    Rating: <%= review.rating %>
  </li>
<% end %>
</ul>
