<h2>Review Form for <%= @show.title %></h2>

<%= form_for [@show, @review] do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <br /><br />

  <%= f.label :description, "Review" %>
  <%= f.text_area :description %>
  <br /><br />

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>
  <br /><br />

  <%= f.submit "Update Review" %>

<% end %>
