<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TVReviews</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
       <div class="top-bar-title"> <%= link_to "TV Reviews", root_path %></div>
         <div>
           <div class="top-bar-left"></div>
           <div class="top-bar-right">
             <ul class="dropdown menu" data-dropdown-menu>
               <% if current_user %>
                 <li class="menu-text">
                   <%= "#{current_user.username}" %>
                   <ul class="menu vertical">
                     <li><%= link_to "Profile", user_path(current_user) %></li>
                     <li><%= link_to 'Sign out', destroy_user_session_path, method: "delete" %></li>
                   </ul>
                 </li>
               <% else %>
                 <li><%= link_to 'Create Account', new_user_registration_path, class: "button" %></li>
                 <li><%= link_to 'Sign in', new_user_session_path, class: "button" %></li>
               <% end %>
               <% if current_user && current_user.admin? %>
                <li><%= link_to 'User Admin', users_path %></li>
               <% end %>
             </ul>
           </div>
         </div>
     </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="row index-row">
      <%= yield %>
    </div>

  </body>
</html>
