<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TVReviews</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, class: "button", method: "delete" %>
    <% else %>
      <%= link_to 'Create Account', new_user_registration_path, class: "button" %>
      <%= link_to 'Sign in', new_user_session_path, class: "button" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
